$color-white: #fff;
$color-white-fade: rgba(255, 255, 255, 0.6);
$color-fade: rgba(222, 220, 240, 0.399);
$color-dark-blue: #001a41;
$color-light-blue: #e8eef1;
$color-card-background: #e2e2e3;
$color-primary-header: #1976d2;
